<% provide(:title, "Log in") %>
<div class="container">
  <div class="card card-container">
    <h2 class="text-center">Sign in</h2>
    <%= image_tag "icon.png", class: "profile-img-card" %>
    <p id="profile-name" class="profile-name-card"></p>
    <%= simple_form_for(:session, url: login_path) do |f| %>
    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
        <%= f.input :email, label: false, required: false, autofocus: true, placeholder: "yourmail@example.com", input_html: {size: 30, class: "form-control"} %>
        <%= f.input :password, label: false, required: false, placeholder: "Password", input_html: {size: 30, class: "form-control"} %>
        <%= link_to "Forgot password", new_password_reset_path %>
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %><span>Remember me</span>
        <% end %>
        <%= f.button :submit, "Log in", class: "btn btn-lg btn-primary btn-block btn-signin" %>
      </form>
    <% end %>
    <p>New user? <%= link_to "Join us now", signup_path %></p>
  </div>
</div>

