<% provide(:title, 'Sign up') %>
<div class="container">
  <div class="card card-container">
    <h2 class="text-center">Sign up</h2>
    <%= image_tag "icon.png", class: "profile-img-card" %>
    <p id="profile-name" class="profile-name-card"></p>
    <%= simple_form_for(@user, url: signup_path) do |f| %>
      <form class="form-signin">
        <span id="reauth-email" class="reauth-email"></span>
        <%= f.input :name, label: false, class: "form-control", placeholder: "What your name?" %>
        <%= f.input :email, label: false, class: "form-control", placeholder: "Enter your email" %>
        <%= f.input :password, label: false, class: "form-control", placeholder: "password" %>
        <%= f.input :password_confirmation, label: false, class: "form-control", placeholder: "password confirmation" %>
        <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block btn-signin" %>
      </form>
    <% end %>
</div>
